---
layout: index
splash: "https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
---

<div class="jumbotron jumbotron-fluid">
  <img src="{{ page.splash }}">
  <div class="splashbox">
    <h4>Dive into</h4>
    <h2><strong>Technology at L-C</strong></h2>
    <p class="text-justify">
      Luxemburg-Casco School District is committed to a future that enriches
      the lives of all students with the values, skills and work ethic 
      necessary to navigate the ever-changing world of tomorrow. Check out how 
      we use technology to bring that vision to life.
    </p>
    <br><br>
    <a href="/dlt" class="button-primary">
      Learn more &nbsp &nbsp<i class="fas fa-arrow-right"></i>
    </a>
  </div><!-- /.splashbox -->
</div><!-- /.jumbotron -->
<div class="content container">
  <div class="row">
    <div class="col-9">
      <div class="post-snips">
      {% for post in site.posts %}
        <div class="post-snip">
          <h4 class="post-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h4>
          <h6 class="post-date">{{ post.date | date: '%B %-d, %Y' }}</h6>
          {{ post.excerpt }}
        </div><!-- /.post-snip -->
      {% endfor %}
      </div><!-- /.post-snips -->
    </div><!-- /.col-9 -->
    <div class="sideright col-3">
      <div class="row">
        <div class="col">
          <h4>Contact a Coach</h4>
          <ul class="link-list">
            {% for coach in site.supporters %}
              <li>
                <a href="mailto:{{ coach.email }}" target="_blank" rel="noreferrer">
                  {{ coach.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <br><br>
      <div class="row">
        <div class="col">
          <h4>Upcoming Sessions</h4>
          {% assign counter = 0 %}
          {% for session in site.sessions %}
            {% assign now_date = 'now' | date: '%s' %}
            {% assign session_date = session.date | date: '%s' %}
            {% if session_date > now_date and counter < 3 %}
              <div class="session">
                <h6>{{ session.title }}</h6>
                <p>
                  <strong>Date:</strong> {{ session.date | date: "%B %-d, %Y" }}<br>
                  <strong>Time:</strong> {{ session.date | date: "%I:%M%p" }}<br>
                  <strong>Location:</strong> {{ session.location }}
                  {{ counter }}
                </p>
              </div><!-- /.session -->
              {% assign counter = counter | plus: 1 %}
            {% endif %}
          {% endfor %}
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.col-3 -->
  </div><!-- /.row -->
</div><!-- /.container -->
