<div class="footer container-fluid">
  <div class="row">
    <div class="col text-center">
      <img src="/images/LuxCasco.png">
      <h6>LUXEMBURG-CASCO SCHOOL DISTRICT</h6>
      <h1 class="display">Technology Hub</h1>
    </div><!-- /.col -->
  </div><!-- /.row -->
  <div class="links row text-center">
    <div class="col">
      <a class="d-inline" href="#">Professional Development</a>
      <a class="d-inline" href="/dlt">Digital Learning Team</a>
      <a class="d-inline" href="/resources">Resources</a>
      <a class="d-inline" href="#">Support</a>
      <a class="d-inline" href="#">District Website</a>
    </div>
</div><!-- /.footer -->
