<nav class="header navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="/">
    <img src="/images/LuxCasco.png" width="75" class="d-inline-block
                                                align-middle"
                                               alt="Lux-Casco Spartan logo">
    <span class="d-inline-block align-middle">
      <span class="plaintext text-uppercase">
        Luxemburg-Casco School District
      </span>
      <br>
      <span class="display">Technology Hub</span>
    </span>
  </a><!-- /.navbar-brand -->
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarText" aria-controls="navigation" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navigation">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/pd">Professional Development</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dlt">Digital Learning Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>
    </ul><!-- /.navbar-nav -->
  </div><!-- /.collapse -->
</nav>
