<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Luxemburg-Casco Tech Hub">
<meta name="keywords" content="technology,Luxemburg-Casco,development,training">
<meta name="author" content="Luxemburg-Casco Digital Learning Team">

<title>{{ page.title }}</title>

<!-- favicon -->
<link ref="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link ref="icon" href="/favicon.ico" type="image/x-icon">

<!-- Bootstrap -->
<link 
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/10afec3588.js"></script>

<!-- Google Fonts -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700|Saira+Stencil+One&display=swap">

<!-- custom styles -->
<link rel="stylesheet" href="/styles/main.css">
