---
layout: default
title: "Professional Development"
---

<div class="content container">
  <div class="row">
    <div class="col">
      <h4>Primary School</h4>
      {% assign ps_sessions = site.sessions | where: "staff", "Primary School" %}
      {% for session in ps_sessions %}
        <h6>{{ session.title }}</h6>
        <p>
          <strong>Date:</strong> {{ session.date | date: "%B %-d, %Y" }}<br>
          <strong>Time:</strong> {{ session.date | date: "%I:%M%p" }}<br>
          <strong>Location:</strong> {{ session.location }}
        </p>
      {% endfor %}
    </div><!-- /.col -->
    <div class="col">
      <h4>Intermediate School</h4>
      {% assign is_sessions = site.sessions | where: "staff", "Intermediate School" %}
      {% for session in is_sessions %}
        <h6>{{ session.title }}</h6>
        <p>
          <strong>Date:</strong> {{ session.date | date: "%B %-d, %Y" }}<br>
          <strong>Time:</strong> {{ session.date | date: "%I:%M%p" }}<br>
          <strong>Location:</strong> {{ session.location }}
        </p>
      {% endfor %}
    </div><!-- /.col -->
    <div class="col">
      <h4>Middle School</h4>
      {% assign ms_sessions = site.sessions | where: "staff", "Middle School" %}
      {% for session in ms_sessions %}
        <h6>{{ session.title }}</h6>
        <p>
          <strong>Date:</strong> {{ session.date | date: "%B %-d, %Y" }}<br>
          <strong>Time:</strong> {{ session.date | date: "%I:%M%p" }}<br>
          <strong>Location:</strong> {{ session.location }}
        </p>
      {% endfor %}
    </div><!-- /.col -->
    <div class="col">
      <h4>High School</h4>
      {% assign hs_sessions = site.sessions | where: "staff", "High School" %}
      {% for session in hs_sessions %}
        <h6>{{ session.title }}</h6>
        <p>
          <strong>Date:</strong> {{ session.date | date: "%B %-d, %Y" }}<br>
          <strong>Time:</strong> {{ session.date | date: "%I:%M%p" }}<br>
          <strong>Location:</strong> {{ session.location }}
        </p>
      {% endfor %}
    </div><!-- /.col -->
  </div><!-- /.row -->
  <br><br>
  <div class="row">
    <div class="col">
      <h4>District</h4>
      {% assign district_sessions = site.sessions | where: "staff", "All" %}
      {% for session in district_sessions %}
        <div class="row">
          <div class="pd-district-leftcol col-3">
            <h6>{{ session.title }}</h6>
            <p>
              <strong>Date:</strong> {{ session.date | date: "%B %-d, %Y" }}<br>
              <strong>Time:</strong> {{ session.date | date: "%I:%M%p" }}<br>
              <strong>Location:</strong> {{ session.location }}
            </p>
          </div><!-- /.col-3 -->
          <div class="col-9">
            <p>
              {{ session.content }}
            </p>
          </div><!-- /.col-9 -->
      {% endfor %}
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
